[2016-02-27 17:23] camerontrimble opened #1 "Getting error when posting a new project"
![screenshot 2016-02-27 12 22 27](https://cloud.githubusercontent.com/assets/15096099/13374258/ed2ffc98-dd4c-11e5-8b94-b5d574c23895.png)

[2016-02-27 17:25] camerontrimble opened #2 "Feature Images are not loading"
Please check that images can be loaded. We have now had two projects that have corrupt feature images.

[2016-02-27 17:29] camerontrimble opened #3 "Fix the RSS feed on Fundthisministry.org"

[2016-02-29 02:39] camerontrimble opened #4 "Feature Images not coming through"
They appear to be loading correctly. They show up on the project page. but they are not coming through on the project listing page.

[2016-04-01 12:18] #1 closed, assigned to debdiproy

[2016-04-01 12:18] #2 closed, assigned to debdiproy

[2016-04-01 12:18] #4 closed, assigned to debdiproy

[2016-04-01 12:19] camerontrimble opened #5 "We need to associate a user with a project on the project page"

[2016-04-01 12:20] camerontrimble opened #6 "UCC carasole isn't pulling all of the UCC projects."

[2016-04-01 12:21] camerontrimble opened #7 "Need to set up a carasole for each denomination. I am selling this to them in May."

[2016-04-01 12:22] camerontrimble opened #8 "People are still choosing my paypal account as their payment method. WePay isn't showing for them."
![screenshot 2016-04-01 08 22 36](https://cloud.githubusercontent.com/assets/15096099/14206694/ef295804-f7e2-11e5-8c08-519e27951b62.png)

[2016-04-19 11:00] debdiproy commented on #8
We pay has been added and the convergence payment method has been removed. User can set up their own account now.

[2016-04-19 11:35] debdiproy commented on #6
Well i found that the carousels were not selected with any active projects so it was not pulling. I have added three active ones.

[2016-04-19 11:37] debdiproy commented on #7
We have set up all the carousels for the other denominations.

[2016-04-19 11:39] debdiproy commented on #5
Is this for super admin or denominational admin

[2016-07-08 22:06] camerontrimble opened #9 "Add DATE to the column list"
Date entered into the system: http://www.fundthisministry.org/backoffice/project

[2016-07-12 16:12] camerontrimble opened #10 "I can't see all of the projects on the denominational carousel"
I need to be able to select all of the UCC projects to feature on that page...but they aren't showing up.

http://www.fundthisministry.org/backoffice/carousel3

[2016-07-12 16:25] camerontrimble opened #11 "I can't load a project using WePay because the SSL certificate is not active"
Getting this error:

![screen shot 2016-07-11 at 5 41 14 pm](https://cloud.githubusercontent.com/assets/15096099/16774808/af2750e6-482b-11e6-9454-2a36b1efc5b4.png)

[2016-07-26 13:19] bikash02 commented on #9
updated

[2016-07-26 13:54] bikash02 commented on #10
Updated the code.
If you get all the projects at a time please change the number of entries dropdown box.
![screenshot-www fundthisministry org 2016-07-26 19-02-03](https://cloud.githubusercontent.com/assets/16361011/17140545/79bd0c52-5366-11e6-9006-b0d74a33a925.png)

[2016-07-26 13:56] bikash02 commented on #10
Currently the system have 25 publish and approved projects in UCC

[2016-07-26 13:58] bikash02 commented on #11
@debdiproy was resolved the issue.
If you are still getting the same issue please let us know.

[2016-07-26 14:32] bikash02 commented on #3
I have checked the RSS feed script and here is the feedburner link from where the data is being fetched.
http://feeds.feedburner.com/Convergenceus
So please update your feedburner or provide us the account details so that we will update it by ourself and synchronize with http://progressiverenewal.org/category/news/

Waiting for your feedback.

[2016-07-28 21:08] camerontrimble opened #12 "Responsive Issues with main page"
![img_0029](https://cloud.githubusercontent.com/assets/15096099/17229522/e4eb69ee-54e5-11e6-8388-6ce4cdb701cf.jpg)
![img_0030](https://cloud.githubusercontent.com/assets/15096099/17229523/e4ec20e6-54e5-11e6-9809-4432a6f7a053.jpg)

[2016-08-04 16:55] camerontrimble opened #13 "EMERGENCY! Fundthisministry not working"
![screen shot 2016-08-04 at 12 49 24 pm](https://cloud.githubusercontent.com/assets/15096099/17410633/8d8135b4-5a42-11e6-8057-f593ae1e6ede.png)

[2016-08-31 04:18] debdiproy commented on #13
Problem Resolved

[2016-08-31 04:18] debdiproy commented on #11
Resolved

[2016-08-31 09:48] i-puspita commented on #12
updated

[2016-08-31 15:51] #13 closed, assigned to debdiproy, Designer-cleonix

[2016-08-31 15:51] #12 closed, assigned to debdiproy, i-puspita, bikash02, Designer-cleonix

[2016-08-31 15:51] #11 closed, assigned to Designer-cleonix

[2016-08-31 15:51] #10 closed, assigned to Designer-cleonix

[2016-08-31 15:52] camerontrimble commented on #9
Can you add "Date Created" so that I can easily see the new projects in the system?

[2016-08-31 15:52] #8 closed, assigned to debdiproy

[2016-08-31 15:53] #6 closed, assigned to debdiproy

[2016-08-31 15:53] #7 closed, assigned to debdiproy

[2016-08-31 15:55] camerontrimble commented on #5
We need to associate a project with a owner on this table:
![screen shot 2016-08-31 at 11 55 15 am](https://cloud.githubusercontent.com/assets/15096099/18136002/d0533c2c-6f71-11e6-9c01-711ecab033a8.png)

Right now, I can't tell who has created what...

[2016-08-31 16:15] camerontrimble opened #14 "Error when making donation"
![screen shot 2016-08-31 at 12 14 25 pm](https://cloud.githubusercontent.com/assets/15096099/18136965/962b3cfe-6f74-11e6-84ae-334df140bb8a.png)

[2016-09-01 12:46] bikash02 commented on #5
updated the project owner under "General" tab.

[2016-09-01 13:40] bikash02 commented on #14
You are getting the error because you’re using a live access token while in test mode.

[2016-09-01 14:14] bikash02 commented on #9
There wasn't any project "create date" in the system but I can do one thing I will change the query and the new projects will display first.

[2016-09-01 14:48] camerontrimble commented on #9
Perfect, thanks

[2016-09-01 14:59] bikash02 commented on #9
Updated.
https://www.fundthisministry.org/backoffice/project

[2016-09-01 15:04] camerontrimble commented on #5
Can we make that linkable to the user profile so that we can easily find their email address?

[2016-09-01 15:04] camerontrimble commented on #14
But we should be in live mode...not test

[2016-09-01 15:05] #9 closed, assigned to Designer-cleonix

[2016-09-02 19:34] #14 closed, assigned to debdiproy

[2016-09-02 19:42] camerontrimble opened #15 "Can't click to get off this page"
I created a WePay account and was redirected back to this page in our system. But now I can't click anywhere to get to a new section of the site.

![screen shot 2016-09-02 at 3 41 15 pm](https://cloud.githubusercontent.com/assets/15096099/18216300/d602fd02-7123-11e6-8ff6-db550463ce93.png)

[2016-09-02 19:43] camerontrimble opened #16 "The WePay instructions on this page are wrong"
![screen shot 2016-09-02 at 3 36 54 pm](https://cloud.githubusercontent.com/assets/15096099/18216330/08c20cec-7124-11e6-97e3-3251bbb787b9.png)

[2016-09-02 20:03] camerontrimble opened #17 "Sidebar not working with images"
![screen shot 2016-09-02 at 4 02 51 pm](https://cloud.githubusercontent.com/assets/15096099/18216741/c3d2b2be-7126-11e6-9ac5-3ebf15bb330e.png)

[2016-09-02 20:09] camerontrimble opened #18 "Date is reversed"
Should be 9/1/2016

This is on every project page on the front end

![screen shot 2016-09-02 at 4 08 50 pm](https://cloud.githubusercontent.com/assets/15096099/18216882/9ce8aeb4-7127-11e6-9666-cdc8d0567a3a.png)

[2016-09-02 20:10] camerontrimble opened #19 "Update footer logo"
Use the new Convergence logo

![screen shot 2016-09-02 at 4 10 06 pm](https://cloud.githubusercontent.com/assets/15096099/18216910/c41ed120-7127-11e6-992c-34f0e36e79ad.png)

[2016-09-02 20:11] camerontrimble opened #20 "Still getting this error"
![screen shot 2016-09-02 at 4 11 25 pm](https://cloud.githubusercontent.com/assets/15096099/18216955/f4a56278-7127-11e6-8053-67773bb6fe46.png)

[2016-09-02 20:53] debdiproy commented on #20
Resolved & Updated

[2016-09-02 20:56] debdiproy commented on #18
Updated

[2016-09-02 21:01] debdiproy commented on #16
I have redirected it to the add project page as per instruction.

[2016-09-02 21:02] debdiproy commented on #15
Duplicate

[2016-09-02 21:02] #15 closed, assigned to debdiproy

[2016-09-03 08:42] i-puspita commented on #19
updated

[2016-09-03 08:42] bikash02 commented on #5
updated

[2016-09-03 09:00] bikash02 commented on #17
Please follow the below steps in visual mode in editor.
1.Place the cursor where you want to put the image.
2.Click on "Picture" icon and upload it from your local storage .
3.Click on "Update".

Ping me if you still getting the same error..

[2016-09-03 15:34] #20 closed, assigned to debdiproy

[2016-09-03 15:34] #19 closed, assigned to debdiproy, i-puspita, Designer-cleonix

[2016-09-03 15:35] #18 closed, assigned to debdiproy, Designer-cleonix

[2016-09-03 15:35] #16 closed, assigned to debdiproy, Designer-cleonix

[2016-09-03 15:36] #5 closed, assigned to debdiproy

[2016-09-03 15:42] camerontrimble opened #21 "Can we make the project owner a dropdown box of all users in the SUPER ADMIN profile?"
I have a situation where I need to change the owner of a project. Can we give the Super Admin permission to select a new user? The other permission levels should not have that access.
![screen shot 2016-09-03 at 11 40 57 am](https://cloud.githubusercontent.com/assets/15096099/18225833/7fd11196-71cb-11e6-8fb2-5e7b30890ea4.png)

[2016-09-03 15:46] camerontrimble opened #22 "Super admin: Need to be able to edit the list of denominations in the system"

[2016-09-03 15:53] camerontrimble opened #23 "Format issue on the donate page"
![screen shot 2016-09-03 at 11 52 55 am](https://cloud.githubusercontent.com/assets/15096099/18225909/03f350b4-71cd-11e6-83bf-09f6e1e4132f.png)

[2016-09-03 15:55] camerontrimble opened #24 "Can we get this to load the project feature image on the Facebook push? It won't get attention"
![screen shot 2016-09-03 at 11 54 22 am](https://cloud.githubusercontent.com/assets/15096099/18225921/3f1f13e4-71cd-11e6-9bec-0c208c17b9dc.png)

[2016-09-03 15:58] camerontrimble opened #25 "When I change the payment method of an older project, it doesn't really change."
I reposted an old project that was using paypal and redirected it to WePay. Didn't work.

[2016-09-03 16:00] camerontrimble opened #26 "New Convergence logo not present on the project pages; needs to be updated sysemiwde"
![screen shot 2016-09-03 at 11 59 27 am](https://cloud.githubusercontent.com/assets/15096099/18225957/ed45b59a-71cd-11e6-97b1-304bf3b3b162.png)

[2016-09-03 16:03] camerontrimble opened #27 "The WePay fees and the additional 5% fee need to be added onto the transaction rather than come out of the donation amount."
In other words, if you donate $1.00, the .36 cents in fees needs to be added on so that the donor gives $1.36.

[2016-09-05 05:45] i-puspita commented on #26
updated

[2016-09-05 14:17] bikash02 commented on #21
updated

[2016-09-06 10:20] bikash02 commented on #23
It's a browser compatible issue.So please tell me in which browser you checked and the issue was found in desktop or mobile view?

[2016-09-06 10:21] bikash02 commented on #23
According to your feedback we'll update the code.

[2016-09-06 10:48] bikash02 commented on #22
updated.Here is the link
https://www.fundthisministry.org/backoffice/denomination/

[2016-09-06 15:11] #26 closed, assigned to debdiproy, i-puspita, Designer-cleonix

[2016-09-06 15:11] camerontrimble commented on #23
I'm using Chrome

[2016-09-06 15:18] camerontrimble opened #28 "Security issue"
![screen shot 2016-09-06 at 11 17 12 am](https://cloud.githubusercontent.com/assets/15096099/18279427/8a716844-7423-11e6-8323-62570055ce36.png)

[2016-09-06 15:20] #21 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-09-06 15:25] camerontrimble commented on #22
Can you connect this to the backend left menu?

[2016-09-06 15:26] #25 closed, assigned to debdiproy

[2016-09-06 18:36] bikash02 commented on #22
Already connected to backend menu under "Administration"

[2016-09-06 18:38] bikash02 commented on #23
@i-puspita please check the browser compatibility issues.

[2016-09-06 19:10] bikash02 commented on #24
updated the code.

[2016-09-07 00:20] #24 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-09-07 00:20] #22 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-09-07 00:21] #17 closed, assigned to debdiproy, Designer-cleonix

[2016-09-08 08:52] bikash02 commented on #28
You are getting the message due to "mixed content" . When an HTTPS page has HTTP content, we call that content “mixed”. Don’t worry about it.The Icon with gray alert means "Mixed content is blocked: secure"
![screenshot-support mozilla org 2016-09-08 14-21-44](https://cloud.githubusercontent.com/assets/16361011/18343114/a3f5de00-75cf-11e6-9d0c-2ffe5b61f362.png)

[2016-09-08 13:59] i-puspita commented on #23
Please check & inform if the issue is resolved or not as, there is no such error in our browser.

[2016-09-09 14:23] bikash02 commented on #27
added 5%  additional fee.
Please do a live transaction and if anything goes wrong please reply us.

[2016-09-13 00:34] camerontrimble opened #29 "Responsive issue on social media buttons"
![image](https://cloud.githubusercontent.com/assets/15096099/18457618/534e0f8e-7928-11e6-99c2-02392946c13b.png)

[2016-09-13 00:41] #28 closed, assigned to debdiproy, bikash02

[2016-09-13 00:41] #27 closed, assigned to debdiproy

[2016-09-13 00:41] #23 closed, assigned to debdiproy, i-puspita, Designer-cleonix

[2016-09-13 13:16] i-puspita commented on #29
updated

[2016-09-14 07:42] bikash02 commented on #29
@camerontrimble  Please check the page once again.The designer have resolved the issue.

[2016-09-21 21:41] camerontrimble opened #30 "WePay issue"
I connected a WePay account to a new user in FTM. I was redirected to this page which makes no sense.
![screen shot 2016-09-21 at 5 37 55 pm](https://cloud.githubusercontent.com/assets/15096099/18730079/7a522c40-8022-11e6-8eb0-22296e96a8a1.png)

Then I got this error:

![screen shot 2016-09-21 at 5 38 18 pm](https://cloud.githubusercontent.com/assets/15096099/18730094/87eb9198-8022-11e6-86ba-72ea9

[2016-10-04 18:28] camerontrimble opened #31 "Delete this footer"
Let's just remove all of this complete. Please find another place to display the SSL certificate icon.
![screen shot 2016-10-04 at 2 27 00 pm](https://cloud.githubusercontent.com/assets/15096099/19087091/c4244094-8a3e-11e6-996f-af6712a53122.png)

[2016-10-05 08:26] Designer-cleonix commented on #31
@bikash02

[2016-10-05 13:18] bikash02 commented on #31
updated

[2016-10-18 14:06] bikash02 commented on #30
The form was not validated so you were getting the error .We have updated the page.
Please try once again and keep me update.

[2016-10-18 17:24] #31 closed, assigned to bikash02, Designer-cleonix

[2016-10-18 17:25] #29 closed, assigned to debdiproy, i-puspita, bikash02, Designer-cleonix

[2016-10-19 15:17] #30 closed, assigned to debdiproy, Designer-cleonix

[2016-10-24 07:48] bikash02 opened #32 "Front slider/image needs to resize across screen sizes"

[2016-10-24 07:49] bikash02 opened #33 "Emails from this site should be from Fund This Ministry, not Convergence Support, to avoid confusion"

[2016-10-24 07:49] bikash02 opened #34 "Share links all seem to be working well. The styling could betightened up a bit on the + link."

[2016-10-24 07:50] bikash02 opened #35 "Error with therobots.txt file.Unable to load the requested file: meta.php"

[2016-10-24 07:52] bikash02 commented on #35
I started off by going to browsershots.org to try and see how the site renders across different browsers. Unfortunately I was unable to run the tool—Browsershots told me that there was an error with the robots.txt file. I tried to pull up the robots.txt file myself and got the error

[2016-10-24 07:53] bikash02 opened #36 "Error in project selection"

[2016-10-24 07:54] bikash02 commented on #36
The first time that I tried to click on a project the site loaded really slow and I got the below error, but this only happened once.

APHP Error was encountered
Severity: Warning
Message:file_get_contents(http):failed to open stream: Connection timed out
Filename:helpers/geo_location_
Line Number: 66

[2016-10-24 07:55] bikash02 opened #37 "Chat not response"
Chat was on and off while I was testing the site. I might have had an open browser that still said chat was available after it had been switched off, but when I attempted to start a conversation I got through to the chat screen and waited there for a while without a response.

[2016-10-24 07:57] bikash02 opened #38 "Error when making a donation"
I received this error when I attempted to make a donation to We Stand With Love.
**"This app does not have permission to make tokenization API calls. You can request approval from your app dashboard on WePay."**
 

[2016-10-24 07:58] bikash02 commented on #38
I did a few more things on the site before I attempted another donation, this time to the Atlanta dinnerchurch. I noticed my email address was pulled into the cc number field. I replaced my email address with my card number and attempted the donation several times, but every time it processed it returned the below error, and with my email address again pulled into the cc field.

[2016-10-24 08:01] bikash02 opened #39 "Beta Testing : Setting up an account"
1.Something I did using the system, either initiating a chat or attempting to make a donation, created a user account for me. This triggered an email that included a password. Do we want these accounts to be automatically generated like this? I think not.

2.One thing I noticed is that the actual account creation requests an EIN number. I assume that a ssl would work there as well, right? I am thi

[2016-10-24 08:03] bikash02 opened #40 "Beta testing: Setting up a project"
1. We need to add a $ in front of the amount field so that people don’t add that in themselves
2. I think that a few more lines of explanation would be helpful when people are prompted to create a WePay account. And I need to make sure I understand theWePay process myself as we move forward.

3.In Chrome I got stuck on the “Add a new project” page—there was no way to scrolldown. I was able to proc

[2016-10-24 08:10] i-puspita commented on #34
Solved. Please check.

[2016-10-24 08:38] bikash02 commented on #35
We have uploaded the robots.txt file.

[2016-10-24 08:40] bikash02 commented on #35
We tested the site in browsershots and getting the same error but we have tested browserstack and its working.https://www.browserstack.com/

[2016-10-24 08:41] bikash02 commented on #32
@i-puspita @Designer-cleonix  Please check the responsive layout and fix the issue.

[2016-10-24 08:43] bikash02 commented on #34
@camerontrimble please check https://www.fundthisministry.org/project/view/atlanta-dinner-church

[2016-10-24 08:46] bikash02 commented on #36
The error was actually a php warning due to connection time out.I have updated and you will not get this kind of warning in the future.

[2016-10-24 09:05] debajyotiGuha commented on #37
It's  a 3rd party plugin and we can't alter the code.Its happen maybe something goes wrong into their server or maybe in browser issue or crash.Please try again and keep me posted  with the response.

[2016-10-24 09:35] bikash02 commented on #38
@debajyotiGuha Please make the form autocomplete off.

[2016-10-24 10:20] debajyotiGuha commented on #33
All from email ids are changed to 'support@fundthisministry.org' And label changed to 'Fund This Ministry Support'.

[2016-10-24 10:51] bikash02 commented on #40
Point 1 & 2 updated

[2016-10-24 12:10] debajyotiGuha commented on #40
Point 5. sending mail updated. When an user post a new project with status as publish they will get  email and the admin will also get  a copy and when admin will approve the project the user will also get an email confirmation.

[2016-10-24 12:31] bikash02 commented on #40
@debajyotiGuha Please hide the color for the text and make it uniform for all the projects.

[2016-10-24 12:51] debajyotiGuha commented on #40
Colors hidden from project edit page and make uniform for all the projects.

[2016-10-24 12:53] bikash02 commented on #40
@i-puspita @Designer-cleonix Please update point no 3 having browser compatibility issue.

[2016-10-24 13:01] debajyotiGuha commented on #38
Form autocomplete turn off.

[2016-10-24 13:06] bikash02 commented on #38
The error occurred because your WePay account hasn’t been authorized for token creation.

[2016-10-24 13:07] bikash02 commented on #38
@camerontrimble  We have updated the wepay code last week and please make a donate using wepay and if there was an error please push on the githhub..

[2016-10-24 13:11] i-puspita commented on #40
point no 3 is updated

[2016-10-24 13:14] bikash02 commented on #39
@camerontrimble @debdiproy  Need to discuss with you.

[2016-10-24 13:15] bikash02 commented on #40
@camerontrimble We have updated all the above points.Please check from your end.

[2016-10-24 13:20] bikash02 commented on #37
I have tested and found the cause.The chat API is activated for the current page.If you open two separate pages in a same browser,It will work for the current page and another one was inactive and in that case you have to reload the second page for getting or initiating the chat.

[2016-10-24 13:24] bikash02 commented on #33
@camerontrimble We have updated the issue please check.

[2016-10-24 14:47] camerontrimble commented on #40
@amyolrick will you take a look and see what you think?

[2016-10-24 14:56] camerontrimble commented on #40
On #5, Let's send an email that says:

Thank you for posting a project to FundThisMinistry.org. We will review your project immediately. Within the next 24 hours, we will either make it live on the main site or reply back with further suggestions for ways to strengthen your project. You are welcome to make changes to your project at any time.

We appreciate your partnership. Email us at support@fu

[2016-10-24 15:00] #36 closed, assigned to debdiproy, bikash02, debajyotiGuha

[2016-10-24 15:00] amyolrick commented on #40
Looking into #3 now. I am still not seeing the scrollbar and am trying to looking into the code to see if I can figure out why. I can tab through the fields but not scroll. I had a similar issue with a site I built last year and it ended up being a javascript issue.

[2016-10-24 15:33] amyolrick commented on #39
Please let me know when you are available to discuss--my skype id is amy.olrick and my whatsapp's is +17572327354

[2016-10-24 15:34] amyolrick commented on #37
Great, thank you!

[2016-10-24 15:34] #37 closed, assigned to debdiproy, camerontrimble, bikash02, debajyotiGuha, amyolrick

[2016-10-24 15:38] amyolrick commented on #40
Ok, I am now seeing the scrollbar! Great work--you fixed it!

[2016-10-25 07:42] bikash02 commented on #40
Updated the email text.

[2016-10-25 10:53] bikash02 commented on #34
@amyolrick Please check the + link

[2016-10-25 12:29] camerontrimble commented on #40
Can you work on the formatting? This is how it looks when it comes through in my inbox.

![screen shot 2016-10-25 at 8 27 56 am](https://cloud.githubusercontent.com/assets/15096099/19685987/2adf5694-9a8d-11e6-86ca-385b3879b7bd.png)

[2016-10-25 12:40] bikash02 commented on #40
Yes.The designer will update you asap.

[2016-10-25 12:59] camerontrimble commented on #39
This site is designed to manage 501c3 donations so we ask for the EIN number. Otherwise we can't vouch for the tax deductible status of gifts given through the site. But we should talk about if we want to keep that requirement in place @amyolrick

[2016-10-25 13:09] amyolrick commented on #34
Thanks, it's looking better. I still feel like it needs some work, though, and am attaching a few screenshots so you can see what I am seeing.
- If  possible, it would be ideal to have the project image set to 100% so that it always matches the length of the div box that holds the social links.
  ![screen shot 2016-10-25 at 8 59 14 am](https://cloud.githubusercontent.com/assets/22732566/19687195/8

[2016-10-25 13:39] bikash02 commented on #40
@camerontrimble Please check we have updated.
If you need an email template like CMP then we will configure and update the code within next one day.Leave your comment please.

[2016-10-25 13:45] bikash02 commented on #34
@i-puspita Please take a look and fix the issues asap.

[2016-10-25 15:10] camerontrimble commented on #40
Yes, let's do a formatted email like the music project site. It will look better. Thanks.

[2016-10-25 16:50] bikash02 commented on #40
@debajyotiGuha Please update the email templates for the pages including backend & frontend.

[2016-10-26 08:38] i-puspita commented on #34
The issues have been resolved. Please check.

[2016-10-26 11:33] debajyotiGuha commented on #40
Email templates updated for the pages including backend & frontend.

[2016-10-26 11:35] bikash02 commented on #40
@camerontrimble Please check we have updated the email templates.

[2016-10-26 13:20] camerontrimble commented on #40
Formatting Issues

![screen shot 2016-10-26 at 9 19 29 am](https://cloud.githubusercontent.com/assets/15096099/19727426/66b90d74-9b5d-11e6-8294-4d96049960e7.png)

[2016-10-26 17:58] bikash02 commented on #40
updated

[2016-10-26 20:16] camerontrimble opened #41 "Check site speed"
The site is running really slowly for me...and my connection speed is fine. Specifically, it is taking a long time to pull up individual projects.

[2016-10-26 21:13] camerontrimble opened #42 "WePay and Paypal issues"
We just had a person load a new project into the system. They set up a WePay account. They then made a donation and it went into our Paypal account. Something is wrong.

![screen shot 2016-10-26 at 5 10 55 pm](https://cloud.githubusercontent.com/assets/15096099/19745387/68140bdc-9b9f-11e6-85bb-22e877625d4c.png)

[2016-10-26 21:13] camerontrimble opened #43 "Format this email"
![screen shot 2016-10-26 at 5 10 55 pm](https://cloud.githubusercontent.com/assets/15096099/19745417/859f2d94-9b9f-11e6-9e3c-0bcf03d2a57b.png)

[2016-10-26 21:20] #38 closed, assigned to debdiproy, camerontrimble, debajyotiGuha

[2016-10-26 21:21] #34 closed, assigned to camerontrimble, i-puspita, Designer-cleonix, amyolrick

[2016-10-26 21:21] camerontrimble commented on #35
Not sure if this is completed or not...if so, please close.

[2016-10-26 21:22] camerontrimble commented on #33
Where do these emails go? I sent a test email but never received it. Can you have them forwarded to cameron@convergenceus.org?

[2016-10-27 00:33] camerontrimble opened #44 "Donation went through without a state being selected...it should be a required field"

[2016-10-27 00:34] camerontrimble opened #45 "Donation went through without a state being selected...it should be a required field"

[2016-10-27 00:35] camerontrimble opened #46 "Format this email after a donation goes through"
![screen shot 2016-10-26 at 8 25 08 pm](https://cloud.githubusercontent.com/assets/15096099/19750013/bef09ada-9bbb-11e6-8a25-5de9fe8d97fc.png)

[2016-10-27 00:36] #44 closed, assigned to bikash02, Designer-cleonix

[2016-10-27 01:19] camerontrimble opened #47 "On the Christmas Pop Up Store Project..."
the user tried to edit the branding of the project. When they pressed submit again, the project logo disappeared. I think we have issues with images "sticking" on the site. Please check.

[2016-10-27 07:34] #35 closed, assigned to debdiproy, camerontrimble, bikash02, debajyotiGuha

[2016-10-27 09:22] bikash02 commented on #33
@debajyotiGuha Please update the email id from "cameron@progressiverenewal.org" to "cameron@convergenceus.org"

[2016-10-27 09:26] bikash02 opened #48 "Please check the contact us form"
Add the email template and reconfigure it.
https://www.fundthisministry.org/contact-us

[2016-10-27 09:27] bikash02 commented on #48
Please remove support@convergenceus.org from the site..

[2016-10-27 11:20] debajyotiGuha commented on #33
Emails changed.

[2016-10-27 11:20] debajyotiGuha commented on #48
Removed.

[2016-10-27 11:21] debajyotiGuha commented on #47
Resolved.

[2016-10-27 12:02] bikash02 commented on #41
@debajyotiGuha Please create an account and test the website and make it more optimize.
https://gtmetrix.com/

[2016-10-27 12:46] bikash02 commented on #46
@debajyotiGuha I didn't get any update from you.Please let me know the status.

[2016-10-27 13:15] debajyotiGuha commented on #48
Email template added for contact us form.

[2016-10-27 13:25] debajyotiGuha commented on #46
Email template formatted for mail after donation.

[2016-10-27 13:26] debajyotiGuha commented on #45
State field updated to required field.

[2016-10-27 14:00] debajyotiGuha commented on #43
Email template formatted for mail after donation.

[2016-10-27 15:31] #47 closed, assigned to bikash02, Designer-cleonix, debajyotiGuha

[2016-10-28 09:04] bikash02 commented on #48
Thanks

[2016-10-28 09:04] #48 closed, assigned to debdiproy, camerontrimble, bikash02, debajyotiGuha

[2016-10-28 09:37] bikash02 commented on #33
@camerontrimble updated your email id.

[2016-10-28 10:47] bikash02 commented on #41
@camerontrimble We have optimized the site including js & css and some images as well.
Before Optimize Load Time: 6.00 s
After Optimize Load Time: 3.40 s
**Note: Set the leverage browser caching for loading the website fast.**

Please check the website now and leave your comment.

[2016-10-28 10:52] bikash02 commented on #41
You'll get more info from the attached file.
[fundthismynistry assets update list.ods.zip](https://github.com/ConvergenceUS/fundthisministry/files/558181/fundthismynistry.assets.update.list.ods.zip)

[2016-10-28 12:06] bikash02 commented on #42
@debdiproy I need to discuss with you regarding the issue.I want a test drive to make sure and debugging the error instantly.Please ping me when you get free.
https://www.fundthisministry.org/project/wepayform/84|70|

[2016-10-31 15:59] camerontrimble commented on #46
Make sure that the date field is formatted to US format.

![screen shot 2016-10-31 at 10 49 43 am](https://cloud.githubusercontent.com/assets/15096099/19861054/7b3e89ce-9f61-11e6-90e0-ba520ab0340f.png)

[2016-10-31 16:03] camerontrimble commented on #43
We still have formatting issues on this email as of this morning.

[2016-10-31 16:03] #41 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha

[2016-10-31 20:00] Designer-cleonix commented on #43
@debajyotiGuha Solve this ASAP.

[2016-10-31 20:08] Designer-cleonix commented on #46
@debajyotiGuha Update this ASAP.

[2016-10-31 20:13] Designer-cleonix commented on #42
@debdiproy please do the needful.

[2016-11-02 08:04] debajyotiGuha commented on #46
Date format changed.

[2016-11-02 12:22] debajyotiGuha commented on #43
Email template formatted. Please check once.

[2016-11-02 12:30] #33 closed, assigned to debdiproy, camerontrimble, bikash02, debajyotiGuha

[2016-11-02 18:54] camerontrimble opened #49 "Error when trying to make a donation"
![screen shot 2016-11-02 at 2 50 05 pm](https://cloud.githubusercontent.com/assets/15096099/19943035/2efcfd50-a10c-11e6-98b6-41a7ebe810ea.png)

[2016-11-02 21:42] #46 closed, assigned to bikash02, Designer-cleonix, debajyotiGuha

[2016-11-02 21:42] #45 closed, assigned to bikash02, Designer-cleonix

[2016-11-02 21:42] #43 closed, assigned to bikash02, Designer-cleonix

[2016-11-02 21:43] #40 closed, assigned to debdiproy, camerontrimble, i-puspita, debajyotiGuha, amyolrick

[2016-11-02 21:43] #32 closed, assigned to camerontrimble, i-puspita, Designer-cleonix

[2016-11-02 21:46] camerontrimble commented on #42
We lost this client today because it took too long to get this issue resolved. They had their WePay account set up correctly. The problem is in our system. At present, no new donors/users in the system can make donations. This is ridiculous. We had three days to fix this issue and we didn't get it solved. Needless to say, I am very disappointed and concerned that we get this issue resolved immedia

[2016-11-03 19:55] debdiproy commented on #42
I got on with the client and has resolved their issue and to be honest Cameron they did not set up their Wepay account correctly thus they could not pay but I have helped them to set it up correctly and it is working fine now.

[2016-11-04 22:21] rikalively opened #50 "Sample blog posts public"
On the sidebar on the blog page, there's about three "sample blog" posts that have no text. One of them is supposed to be a song but it does not have the link or song available.
<img width="779" alt="screen shot 2016-11-04 at 6 21 16 pm" src="https://cloud.githubusercontent.com/assets/23104131/20024194/89a31964-a2bb-11e6-9c8e-a94cae37d788.png">

[2016-11-04 22:22] rikalively opened #51 "Cannot click archives link"
Many of the recent blogs are on the sidebar but none of them are clickable.
<img width="389" alt="screen shot 2016-11-04 at 6 22 11 pm" src="https://cloud.githubusercontent.com/assets/23104131/20024228/acfed902-a2bb-11e6-9a80-011ebafd0b05.png">

[2016-11-04 22:25] rikalively opened #52 "Post a project slide takes you to wrong screen"
On the revolution slider on the homepage, the "post a project" slide takes you to the project list. This should take you to a sign-up screen or some other form since you cannot post a project from the page it takes you to.

[2016-11-07 11:28] debajyotiGuha commented on #52
Updated.

[2016-11-07 11:42] bikash02 commented on #50
This blog was posted by "Amy Sens" . Please request the owner or admin to put some content from the backoffice and update the post.You are getting the message due to wrong link.

[2016-11-07 11:43] bikash02 commented on #50
Here is the link: https://bandcamp.com/EmbeddedPlayer/track=2141139164/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/

[2016-11-07 12:17] debajyotiGuha commented on #51
Working on it. Updated by today.

[2016-11-07 13:31] debajyotiGuha commented on #51
Filter by category and timeline updated.

[2016-11-07 13:51] #52 closed, assigned to debajyotiGuha

[2016-11-07 14:09] rikalively commented on #51
The links are now clickable! But the links for July 2015, September 2015, and January 2016 take you to a blank page.
<img width="1440" alt="screen shot 2016-11-07 at 9 08 01 am" src="https://cloud.githubusercontent.com/assets/23104131/20060587/e7fa2a4c-a4c9-11e6-83f6-a7af25982d89.png">

[2016-11-07 14:16] debajyotiGuha commented on #51
Cause there are no posts in that time span, hence it shows a blank page. Give me the proper instruction, which data will be shown in archive filter and I will change it like that.

[2016-11-07 16:14] rikalively commented on #51
Okay, I see that you removed the inactive links. I think the main thing is making sure we have working links on the page.
I don't have the blog posts that would have been archived in those months. It's looking better now.
Thank you

[2016-11-07 16:16] rikalively commented on #50
I don't have access to contact the owner of the blog post. Also, the bandcamp link gives me the same message.

[2016-11-07 17:18] rikalively opened #53 "Tried to create a new project"
This is the page I got when I tried to submit a new project.
<img width="1349" alt="screen shot 2016-11-07 at 12 13 59 pm" src="https://cloud.githubusercontent.com/assets/23104131/20067637/f244f7d8-a4e3-11e6-994f-44f663aa18ef.png">

[2016-11-07 17:55] Designer-cleonix commented on #53
This error seems to be a same name posting. Can you verify once.

[2016-11-07 18:11] rikalively commented on #53
Yes that was the issue!
However, I lost all of my work in trying to create a project because I had the same name as someone else. Is there a different way for the site to handle this issue. Instead it could just give me an error message saying I need to choose a different name since that name already exists?
I think people will get very frustrated if they lose all of their work and getting that bi

[2016-11-07 18:17] #51 closed, assigned to debajyotiGuha

[2016-11-07 18:19] bikash02 commented on #50
@camerontrimble Please update the blog content or make it archive from the backoffice.

[2016-11-07 18:22] rikalively opened #54 "Project not published"
My dashboard says my project is published but I cannot find it on the actual project list.
<img width="1159" alt="screen shot 2016-11-07 at 1 16 28 pm" src="https://cloud.githubusercontent.com/assets/23104131/20069981/c5aa61d2-a4ec-11e6-85f9-8eb3627776d9.png">

[2016-11-07 18:24] camerontrimble commented on #54
I have to approve it before it appears live on the site. Check your email and make sure that you get an email saying as much. I will approve it now so that you can keep testing.

[2016-11-07 18:26] bikash02 commented on #53
@debajyotiGuha Please validate the add project form and make it user friendly more.

[2016-11-07 18:26] camerontrimble commented on #50
Done!

[2016-11-07 18:26] #50 closed, assigned to camerontrimble, debajyotiGuha

[2016-11-07 18:27] #42 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-07 18:35] rikalively opened #55 "Cannot upload a banner on project page"
I've been trying to upload a banner for my project but it won't update/save

<img width="1440" alt="screen shot 2016-11-07 at 1 34 12 pm" src="https://cloud.githubusercontent.com/assets/23104131/20070558/e14ee4ce-a4ee-11e6-9245-06830fa58f27.png">

[2016-11-07 18:36] rikalively commented on #54
Silly me - I closed my email tab. That makes sense! Thank you

[2016-11-07 18:36] #54 closed, assigned to nobody

[2016-11-07 18:48] bikash02 commented on #55
Please select "Display" option under branding tab.

[2016-11-07 18:49] bikash02 commented on #55
either you select a featured image or video

[2016-11-07 18:58] rikalively commented on #55
Okay, I didn't realize the image would take the place of the video. Maybe somewhere on the form we can say featured image or featured video. I know the display option has you choose between the two but it still wasn't clear to me that I was picking between the two.
Thank you!

[2016-11-08 09:02] debajyotiGuha commented on #53
Solved.

[2016-11-08 09:49] bikash02 commented on #53
@rikalively please check once again.We have validated the duplicate project name.

[2016-11-08 10:18] bikash02 commented on #55
Kindly check the page once again.If you select display type as image then you'll able to enter featured image and if you select display type as video then you'll able to put the video link.

If you want more please let us know we'll update accordingly.

[2016-11-08 13:58] rikalively commented on #53
I put in a duplicate name and got the same "database error" message as before. I was able to finish the form and hit submit. That's when the error message occurs.

[2016-11-08 14:00] rikalively commented on #55
That's perfect! Thank you @bikash02

[2016-11-08 14:00] #55 closed, assigned to camerontrimble

[2016-11-08 14:33] rikalively opened #56 "Misleading graphs on user dashboard"
These graphs on my user dashboard show some revenue - however, I don't have any active projects receiving donations. Why is it showing that I have $6985 for total revenue?

<img width="897" alt="screen shot 2016-11-07 at 11 57 06 am" src="https://cloud.githubusercontent.com/assets/23104131/20103019/462c16da-a596-11e6-85a8-1c32b4879ce2.png">
<img width="958" alt="screen shot 2016-11-08 at 9 32 05 a

[2016-11-08 14:39] camerontrimble opened #57 "Let's add a "Added By" to this email with the user name or email address"
![screen shot 2016-11-08 at 9 38 06 am](https://cloud.githubusercontent.com/assets/15096099/20103243/326129be-a597-11e6-99a2-071eb077d641.png)

[2016-11-08 14:42] rikalively opened #58 "Cannot access user settings"
If I click on the default profile picture on my user dashboard, it takes me to a blank page. I cannot find anywhere else to access my user settings.

[2016-11-08 15:00] debajyotiGuha commented on #58
Updated. Please check.

[2016-11-08 15:03] debajyotiGuha commented on #57
It will be updated by tomorrow.

[2016-11-08 16:45] rikalively commented on #58
Working. Thank you.

[2016-11-08 16:45] #58 closed, assigned to bikash02, debajyotiGuha

[2016-11-08 21:17] camerontrimble opened #59 "Issue with days left in a campaign"
From a user: the end date for the campaign is December 1st, but it says that there are 36 days left in the campaign

Referring to the Christmas Pop Up campaign

[2016-11-09 09:06] debajyotiGuha commented on #53
Issue solved. No duplicate entry possible.

[2016-11-09 09:17] bikash02 commented on #59
updated

[2016-11-09 09:25] bikash02 commented on #56
@debajyotiGuha Please create a separate dashboard for users.

[2016-11-09 10:37] debajyotiGuha commented on #57
Updated.

[2016-11-09 10:49] debajyotiGuha commented on #49
Updated.

[2016-11-09 11:30] bikash02 commented on #39
So please assist me what to do regarding the issue.Should I leave for the moment?

[2016-11-09 11:41] bikash02 commented on #56
You have to create basically three different dashboard  for User,Administrator & Denomination Admin
Or build the logic and update the sql queries to the current dashboard page.

[2016-11-09 11:50] debajyotiGuha commented on #56
Updated. Changed queries.

[2016-11-09 14:34] rikalively commented on #53
I can still get to this page after completing the form.
If the name is the last thing I put in, it will let me continue.

<img width="1347" alt="screen shot 2016-11-09 at 9 33 40 am" src="https://cloud.githubusercontent.com/assets/23104131/20141717/9e266826-a65f-11e6-882b-588666c5b07c.png">

[2016-11-09 14:36] rikalively commented on #56
Thank you!

[2016-11-09 14:36] #56 closed, assigned to bikash02

[2016-11-09 14:45] rikalively opened #60 "User settings do not save"
Anything of the setting I change - like my name or picture - do not save.

[2016-11-10 06:13] debajyotiGuha commented on #53
That possibility stopped also. Only with valid name a project can be submit.

[2016-11-10 06:20] bikash02 commented on #60
@debajyotiGuha Please display data from table not from session.

[2016-11-10 09:01] debajyotiGuha commented on #60
Problem solved. Please check once.

[2016-11-10 14:48] rikalively commented on #53
Thank you! Working now

[2016-11-10 14:48] #53 closed, assigned to debajyotiGuha

[2016-11-10 14:51] rikalively commented on #60
Some of them are saving but if I remove my picture it does not save. My picture is still showing after I delete it.

[2016-11-10 19:23] Designer-cleonix commented on #60
@debajyotiGuha take care of this.

[2016-11-11 05:39] debajyotiGuha commented on #60
In my browser it's working fine. Please tell me the scenario where did this happens. Or write the problem in details.

[2016-11-11 07:37] bikash02 commented on #59
@camerontrimble Please check

[2016-11-11 08:14] bikash02 commented on #57
@camerontrimble Please check.Added the user fullname to this email.

[2016-11-11 09:41] bikash02 commented on #60
@rikalively I have updated the code.Please try to update your profile and let me know if anything goes wrong.

[2016-11-11 17:51] #59 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha

[2016-11-11 17:52] #57 closed, assigned to bikash02, Designer-cleonix, debajyotiGuha

[2016-11-11 17:53] camerontrimble commented on #39
Let's change that field to "EIN or Social Security Number"

[2016-11-11 18:44] rikalively commented on #60
Working now. Thank you @bikash02

[2016-11-11 18:44] #60 closed, assigned to nobody

[2016-11-14 09:27] debajyotiGuha commented on #39
Updated.

[2016-11-17 04:55] camerontrimble opened #61 "If I delete a logo image under branding, i can't add a new photo"

[2016-11-17 04:56] camerontrimble opened #62 "Change label of "logo image" to "Project Image" and make it required"
Under the branding tab

[2016-11-17 08:58] bikash02 commented on #61
updated.

[2016-11-17 09:07] bikash02 commented on #62
updated.

[2016-11-17 15:16] #62 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-17 18:01] #61 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2016-11-17 18:04] camerontrimble opened #63 "Send an automatic email when a project is approved"
When the project is made "Active" for the first time, send the project owner an email with the following text:

Your project on Fundthisministry.org is now live! It's time to start raising money by letting your congregation, friends and family know. If you run into any problems, email us at support@fundthisministry.org. We are here to help.

The Fund This Ministry Team

[2016-11-17 18:05] #39 closed, assigned to debdiproy, camerontrimble, bikash02, debajyotiGuha, amyolrick

[2016-11-17 18:05] #49 closed, assigned to debdiproy, bikash02, Designer-cleonix, debajyotiGuha

[2016-11-18 06:23] debajyotiGuha commented on #63
It will be updated before end of today.

[2016-11-18 06:54] debajyotiGuha commented on #63
Updated the email text. Please check once.

[2016-12-23 03:04] rikalively opened #64 "Unable to donate"
<img width="949" alt="screen shot 2016-12-22 at 10 00 09 pm" src="https://cloud.githubusercontent.com/assets/23104131/21446296/5da5c33c-c892-11e6-9336-73e367f12c7f.png">

I am unable to donate to any of the projects. Chris Hamel is also having this issue. This is the error message I get after filling out all of my information.

[2016-12-23 03:09] rikalively opened #65 "New Account Screen Glitchy"
<img width="821" alt="screen shot 2016-12-22 at 10 08 01 pm" src="https://cloud.githubusercontent.com/assets/23104131/21446360/21061354-c893-11e6-9ff4-9bcb2d035c5b.png">

On this new account screen, if you put in an incorrect email or accidentally click the next box before you finish, it freezes and won't let you finish typing the email. The only way out of the screen is to close the tab.

[2016-12-23 03:17] rikalively opened #66 "Account Login Should Take You to Home Page"
When a user logs into the website, instead of taking you to the admin page, it should just log you in and you should still see the home page of the website.
I think this will confuse most users who are just trying to donate to projects. This admin page is overwhelming for someone who is not interested in starting a project and it looks like they somehow got into the backend of the site.
Can we fin

[2016-12-23 07:44] debajyotiGuha commented on #66
User send to home page after login. Please check once.

[2016-12-23 07:56] debajyotiGuha commented on #65
Problem resolved. Please check once.

[2016-12-23 14:44] rikalively commented on #66
Thanks!

[2016-12-23 14:44] #66 closed, assigned to nobody

[2016-12-23 14:44] rikalively commented on #65
Great! Thank you

[2016-12-23 14:44] #65 closed, assigned to nobody

[2016-12-26 13:37] debdiproy commented on #64
@rikalively I will look into this personally and resolve by today.

[2016-12-28 15:08] rikalively commented on #64
How are we doing resolving this issue?

[2017-01-02 17:49] camerontrimble opened #67 "Can't search by zipcode"
Note from a USER: Believe I have successfully set up the reload of our prior project as directed by Claire however, if I log out and come onto FundThisMinistry website and search for a project with our zipcode (01752) I do not see our project??

[2017-01-02 17:50] #63 closed, assigned to debdiproy, bikash02, Designer-cleonix

[2017-01-03 09:28] bikash02 commented on #67
@camerontrimble  The project published successfully by the user but didn't get approve from the administration.So please approve the project and you'll able to search for the project with zipcode.

[2017-01-03 09:30] bikash02 commented on #67
![screenshot-www fundthisministry org 2017-01-03 14-59-44](https://cloud.githubusercontent.com/assets/16361011/21603726/51ffa5d4-d1c5-11e6-9461-6300215698cc.png)

[2017-01-09 01:06] rikalively commented on #64
I am still unable to donate to any of the projects. How soon can we resolve this?

[2017-01-16 19:57] rikalively commented on #64
Please give me an update on this issue.

[2017-01-17 06:25] debdiproy commented on #64
@rikalively  We are changing the experience of the donation and payment from the last week and this should be completed by this Thursday

[2017-01-21 15:41] rikalively commented on #64
I just tried to donate and see that it hasn't been resolved. When do you think the updates will be completed?

[2017-01-23 22:10] debdiproy commented on #64
@rikalively We have changed the system of creating project and payment account once that is complete there will not be this issue any more. You may have a word with Cameron in this regards.

[2017-01-23 22:14] camerontrimble opened #68 "Trying to create a project but it won't let me past the registration page"
And I am already logged in

[2017-01-25 14:08] debajyotiGuha commented on #68
Resolved

[2017-02-03 13:03] camerontrimble opened #69 "For a new account, you have to reenter the Project name and amount twice."
Then it takes you to ANOTHER screen where you have to enter the project name and the description. We need to simplify this.

[2017-02-03 13:04] camerontrimble opened #70 "Description text box should be an essay box, yes?"

[2017-02-03 13:05] camerontrimble opened #71 "On this page, let's just let them select the US. Otherwise the forms don't work."
<img width="1197" alt="screen shot 2017-02-03 at 8 05 01 am" src="https://cloud.githubusercontent.com/assets/15096099/22592389/9053f3f0-e9e7-11e6-8d83-cbff9833c4fe.png">

[2017-02-03 13:06] camerontrimble opened #72 "Format error on State dropdown"
<img width="1189" alt="screen shot 2017-02-03 at 8 06 05 am" src="https://cloud.githubusercontent.com/assets/15096099/22592425/bbca8aa8-e9e7-11e6-8325-620533faf97a.png">

[2017-02-06 09:08] Designer-cleonix commented on #69
@bikash02  @debdiproy please take care of this.

[2017-02-06 09:08] Designer-cleonix commented on #70
@bikash02 @debdiproy

[2017-02-06 09:09] debdiproy commented on #72
Resolved @camerontrimble

[2017-02-06 09:10] debdiproy commented on #71
Updated @camerontrimble

[2017-02-06 09:10] debdiproy commented on #69
As per discussion I have made the changes @camerontrimble

[2017-02-06 09:12] debdiproy commented on #68
@camerontrimble  Please check

[2017-02-06 09:13] debdiproy commented on #64
@rikalively The system of setting up of project has been changed and we have tested donating after creating a new project so this should be working now and as per my last telephonic conversation with @camerontrimble I think it will be good if we can repost the old project through the new system that should resolve the problems for liketime.

[2017-02-07 17:07] rikalively commented on #64
<img width="930" alt="screen shot 2017-02-07 at 12 06 46 pm" src="https://cloud.githubusercontent.com/assets/23104131/22702221/f5a36710-ed2d-11e6-9d9c-d838cf1e90a3.png">

I am still getting this issue and am unable to donate.

[2017-02-08 09:05] bikash02 commented on #70
Updated description to text editor.

[2017-02-08 09:06] bikash02 commented on #67
@camerontrimble  resolved the issue.

[2017-02-09 08:32] bikash02 commented on #64
@debdiproy please check and assist